body {
    background-color: white;
}

.header {
    padding: 100px;
    margin-bottom: 15px;
    text-align: center;
    background: rgb(234,236,237);
    color: rgb(48,62,76);
    font-size: 20px;
}
.nav {
    padding: 15px;
    background-color: rgb(48,62,76);
/*
    background-color: black;
    */
}

.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(234,236,237);
  text-decoration: none;
}

.nav a:hover {
  color: white;
  text-decoration: bold;

}


.btn-primary {
    background-color: rgb(48,62,76) !important;
    border-color: rgb(48,62,76) !important;
}

.btn-primary:hover {
    background-color: rgb(68,82,96) !important;
    border-color: rgb(48,62,76) !important;
}

.btn-primary:active {
    background-color: rgb(48,62,76) !important;
    border-color: rgb(48,62,76) !important;
}

.btn-primary:visited {
    background-color: rgb(48,62,76) !important;
    border-color: rgb(48,62,76) !important;
}

.btn-primary:focus {
    background-color: rgb(48,62,76) !important;
    border-color: rgb(48,62,76) !important;
}


.spacer {
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    background: rgb(74,86,99);
    color: white;
}



.content-right {

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

    padding-left: 125px;
    padding-right: 125px;
    padding-top: 50px;
    padding-bottom: 50px;

    background: rgb(234,236,237);

    text-align: right;
    color: rgb(48,62,76);
}

.content-left {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

    padding-left: 125px;
    padding-right: 125px;
    padding-top: 50px;
    padding-bottom: 50px;

    background: rgb(74,86,99);
    text-align: left;
    color: white;
}

.footer {
    padding: 100px;
    background: rgb(48,62,76);
    text-align: center;
    color: rgb(234,236,237);
}

/*Sidebar*/

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: rgb(48,62,76);
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 30px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(234,236,237);
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 350px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: rgb(223, 194, 194);
  margin-right: 200px;
  margin-top: 150px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Link animation*/

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: rgb(74,86,99);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: -30px;
    right: auto;
    width: 115%;
  }
}

/* page scroll fix*/

h2::before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
}

/*Code snippet*/

pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: rgba(238, 238, 238, 0.075);
  width: 650px;
  padding-bottom: 20px;
  max-height: 600px;
}