body {
    background-color: rgb(48,62,76);
}
.header {
    padding: 100px;
    text-align: center;
    background: rgb(48,62,76);
    color: rgb(234,236,237);
    font-size: 20px;
}
.nav {
    padding: 30px;
    background-color: rgb(48,62,76);
/*
    background-color: rgb(48,62,76);
    */
}
.content-right {
    padding: 185px;
    text-align: right;
    color: white;
}
.content-left {
    padding: 185px;
    background: rgb(74, 47, 97);
    text-align: left;
    color: white;
}
.footer {
    padding: 100px;
    background:rgb(124, 124, 143);
    text-align: center;
    color: black;
}
/*Sidebar*/

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 100px; /* Same as the width of the sidenav */
  font-size: 22px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: rgb(234, 236, 237);
  margin-right: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}